# A simple example of an env file for local development.
# This project does not require any specific environment variables at the moment.
# Modify this file as necessary.

# PORT: The port on which the app will run (default 80)
PORT=80